#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.top {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  margin:  auto;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.top .top-score {
  font-size: 1.2rem;
  font-weight: 500;
}
.top-right {
  display: flex;
  justify-content: flex-end;
  
  align-items: center;
  
  width: 100%;
  
}
.top .top-score li{
  list-style: none;
  display: block;
  margin: 0 1rem;
  
}

.button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.round-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  border: 3px solid #ed0a0a;
  box-shadow: 0 0 10px #0be90b;
}
.round-btn img {
  width: 70%;
  height: 70%;
  
  
}